@{
    ViewData["Title"] = "Reset Password";
}

<div asp-validation-summary="ModelOnly" class="alert alert-primary" role="alert"></div>

<h1>Reset Password</h1>
@model  user_register.core.ViewModels.ResetPasswordViewModel

<form asp-controller="home" asp-action="ResetPassword" method="post">
    <div class="mb-3">
        <label for="Password" asp-for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
        <div class="col-md-8">
            <input asp-for="PasswordConfirm" class="form-control">
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>

