
@model user_register.core.ViewModels.ForgetPasswordViewModel

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="ForgetPassword" asp-controller="home" method="post">
                <div class="modal-body">
                    <!-- bura forget password-un yeridir-->

                    <div class="mb-3">
                        <label for="Email" asp-for="Email" class="form-label"></label>
                        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
